TELEGRAM_BOT_TOKEN=8683480293:AAH9k5TDyYvQ3-ocirXBp5Qk5zPpz2LD4lo
TELEGRAM_ALLOWED_CHAT_IDS=-1003847210384
#-1003717867475
SUPABASE_URL=https://wltbgkbljjhkwmomosxo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsdGJna2Jsampoa3dtb21vc3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3MzIzNjMsImV4cCI6MjA3OTMwODM2M30.eXiy1rQKCeYIGOtayYTXF3kQU5iTCt3iMuhhTC_oyLg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsdGJna2Jsampoa3dtb21vc3hvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzczMjM2MywiZXhwIjoyMDc5MzA4MzYzfQ.2fyLzZFdUzxUrNVre6y4y3MESjyo1q4yKvF56wSDm3s
SUPABASE_TABLE=Email_Atm
EDGE_SHEET_URL=https://script.google.com/macros/s/your-deployment-id/exec
# 1ECM_v1UsLDirfs8Hc3YMgs2K0qOXoE2BpVl_ofCTrC0